.infinite-canvas-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.transform-wrapper {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.transform-wrapper:active {
  cursor: grabbing;
}

.transform-content {
  width: 100%;
  height: 100%;
}

.canvas-content {
  width: 5000px;
  height: 5000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-center {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
